page-employee-detalails {
    img{
        display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4em 2em 4em 2em / 2em 4em 2em 4em;
    }

    div.details{
        margin-top: 50px;
        margin-left: 100px;
    margin-right: 100px;
    }
}
