page-employee-detalails {
    // #002800
    ion-title{
        text-align: center;
    }
   div.scroll-content{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    background-color: rgb(0, 31, 0);
    // overflow: scroll;
    div{
        // margin-top: 50%;
        ion-list{
            // margin-top: 50%;
            overflow: scroll;
            overflow-x: hidden;
        }
           ion-item{
               margin: 0.5%;
               box-shadow: 0 0 3px black;
            background: linear-gradient(darkgreen,black);
            border-radius: 10px;
            h1{
                color: white;
                text-shadow: 10px 3px 6px white;
            }
            p{
                color: white;
                font-weight: lighter;
                font-family: cursive;
            }
               button.btn1{
                   background-color: transparent;
                   color: cyan;
                   float: right;
               }
               button.btn2{
                background-color: transparent;
                color: rgba(177, 16, 16, 0.842);
                float: right;
            }
           }
    }
    
   }
}
