page-employees {
    ion-title{
        text-align: center;
    }
    div.scroll-content{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        background-color: rgb(0, 31, 0);
        div{
            margin: 5%;
            ion-thumbnail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                img{
                    border-radius: 100%;
                    border: 2px inset white;
                    max-height: 150px;
                }
            }

            ion-buttons{

                button{
                    margin: 1%;
                    background-color: transparent;
                    border-bottom: 1px inset white;
                    border-radius: 6%;
                    ion-icon{
                        margin: 0%;
                        color: white;
                        border-right: 1px inset white;
                    }
                }
                ion-label{
                    margin: 0%;
                    color: white;
                    font-family: initial;
                }
            }

            button.btn1{
                font-weight: lighter;
                background-color: rgb(71, 29, 1);
            }
            button.btn2{
                font-weight: lighter;
                background-color: rgb(0, 39, 71);
            }
            button.btn3{
                font-family: cursive;
                font-weight: bolder;
                background-color: rgba(1, 104, 48, 0.301);
            }
            button.btn4{
                font-weight: lighter;
                background-color: rgb(0, 71, 32);
            }

        }
    }
}

